<!DOCTYPE html>
<html lang="zh-cn">
<head>
{% load static %}
<meta charset="utf-8">
<link href="{% static 'exp3/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'exp3/css/bootstrap-grid.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'exp3/css/bootstrap-reboot.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'exp3/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'exp3/js/bootstrap.min.js' %}"></script>
<title>专利</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'exp3:index' %}">科研管理系统</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:institutesList' %}">机构<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:labsList' %}">实验室</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:groupsList' %}">研究组</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:teachersList' %}">老师</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:studentsList' %}">学生</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:projectsList' %}">课题</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:achievementsList' %}">成果</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:papersList' %}">论文</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'exp3:patentsList' %}">专利</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>

<div class="container" style="padding-top: 20px; margin-top: 20px">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'exp3:patentsList' %}">列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'exp3:searchPatents' %}">查询</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'exp3:createPatents' %}">添加</a>
    </li>
  </ul>

  <div class="card" style="margin-top: 20px">
    <div class="card-header">输入机构信息</div>
    <div class="card-body">
      <form action="{% url 'exp3:updatePatents' patent_id %}" method="post">
      {% csrf_token %}
        <div class="form-group row">
          <label for="patentId" class="col-sm-2 col-form-label">编号</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="patentId" value="{{ patent_id }}" name="id"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="patentName" class="col-sm-2 col-form-label">名称</label>
          <div class="col-sm-10">
            {{ form.name }}
            <small id="patentNameHelp" class="form-text text-muted">合法的名称应为长度不超过50的字符串</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="patentTeachers" class="col-sm-2 col-form-label">老师</label>
          <div class="col-sm-10">
            {{ form.teachers }}
          </div>
        </div>
        <div class="form-group row">
          <label for="patentStudents" class="col-sm-2 col-form-label">学生</label>
          <div class="col-sm-10">
            {{ form.students }}
          </div>
        </div>
        <div class="form-group row">
          <label for="patentPassDate" class="col-sm-2 col-form-label">授权日期</label>
          <div class="col-sm-10">
            {{ form.pass_date }}
          </div>
        </div>
        <div class="form-group row">
          <label for="patentValidTime" class="col-sm-2 col-form-label">有效期</label>
          <div class="col-sm-10">
            {{ form.valid_time }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">确定</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>