<!DOCTYPE html>
<html lang="zh-cn">
<head>
{% load static %}
<meta charset="utf-8">
<link href="{% static 'exp3/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'exp3/css/bootstrap-grid.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'exp3/css/bootstrap-reboot.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'exp3/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'exp3/js/bootstrap.min.js' %}"></script>
<title>研究组</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'exp3:index' %}">科研管理系统</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:institutesList' %}">机构<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:labsList' %}">实验室</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'exp3:groupsList' %}">研究组</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:teachersList' %}">老师</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:studentsList' %}">学生</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:projectsList' %}">课题</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:achievementsList' %}">成果</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:papersList' %}">论文</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exp3:patentsList' %}">专利</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>

<div class="container" style="padding-top: 20px; margin-top: 20px">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'exp3:groupsList' %}">列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'exp3:searchGroups' %}">查询</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'exp3:createGroups' %}">添加</a>
    </li>
  </ul>

  <div class="card" style="margin-top: 20px">
    <div class="card-header">详细信息</div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
          <tr class="row">
            <th class="col text-center">属性</th>
            <th class="col text-center">值</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr class="row">
            <td class="col">编号</td>
            <td class="col">{{ group.id }}</td>
          </tr>
          <tr class="row">
            <td class="col">名称</td>
            <td class="col"><a href="{% url 'exp3:groupsDetail' group.id %}">{{ group.name }}</a></td>
          </tr>
          <tr class="row">
            <td class="col">组长</td>
            <td class="col"><a href="{% url 'exp3:teachersDetail' group.leader %}">{{ group.leader }}</a></td>
          </tr>
          <tr class="row">
            <td class="col">所属实验室</td>
            <td class="col"><a href="{% url 'exp3:labsDetail' group.laboratory.id %}">{{ group.laboratory.name }}</a></td>
          </tr>
          <tr>
            <td colspan="2"><a href="{% url 'exp3:updateGroups' group.id %}" class="btn btn-primary">修改</a></td>
          </tr>
          <tr>
            <td colspan="2"><a href="{% url 'exp3:deleteGroups' group.id %}" class="btn btn-danger">删除</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card" style="margin-top: 20px">
    <div class="card-header">学生列表</div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
          <tr>
            <th class="text-center">学号</th>
            <th class="text-center">姓名</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for id, name in students %}
            <tr>
              <td>{{ id }}</td>
              <td>{{ name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>